<div class="row">
    <a class="btn btn-default pull-right" ng-href='/#/item/'>Create</a>
    <div class="header">Retrieve</div>
    <div class="row">
        <div class="row clearfix" ng-repeat="i in products">
            <div class="col col-xs-10">
                {{i}}
            </div>
            <div class="col col-xs-1">
                <a ng-href="/#/item/{{i.id}}"><i class="glyphicon glyphicon-edit btn"></i></a>
            </div>
            <div class="col col-xs-1">
                <a><i class="glyphicon glyphicon-trash btn" ng-click="remove($index,i)"></i></a>
            </div>
        </div>
    </div>
</div>
